body {
	background-color: black;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: #07C;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#game_div canvas {
	display: block;
	margin: auto;
	border: 1px solid white;
}

.header-text {
	text-align: center;
}

.footer-text {
	text-align: center;
	font-size: 10pt;
}